@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 180px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header上部 */

.navbar {
  background-color: white;
}

.dropdown-toggle {
  border: solid 1px black;
  border-radius: 5px;
  color: black;
  font-size: 1.2em;
  margin-top: 15px;
}

.dropdown-toggle:hover {
  background-color: white !important;
  border: solid 1px black !important;
  color: black;
  text-decoration: none;
}

.nav-above {
  height: 80px;
}

#logo {
  float: left;
  margin-top: 7px;
  font-size: 2.4em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: black;
  text-decoration: none;
}

/* header下部 */

.nav-below {
  background-color: black;
  height: 80px;
}

.nav-item {
  background-color: white;
  border-radius: 5px;
  height: 56px;
  margin-top: 12px;
  padding-top: 16px;
  text-align: center;
  width: 150px;
}

.nav-link {
  color: black;
  font-size: 1.5em;
}

.nav-link:hover {
  color: black;
  text-decoration: none;
}

/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* error_messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}